# dependencies
node_modules/

# build
dist/

# env
.env

# Ignore log files
logs/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS-specific
.DS_Store

# IDEs
.vscode/
.idea/

# misc
*.local
